# Dependencies
node_modules/

# Angular
frontend/.angular/
frontend/dist/

# NestJS
backend/dist/

# Environment variables
.env
*.env

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python PDF reader cache
__pycache__/
*.pyc
